@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: $mat-font-family;
	font-weight: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.p10{
    padding: 10px;
}

.pullRight{
    float: right !important;
}

.pullLeft{
    float: left !important;
}

.mL10{
    margin-left: 10px !important;
}

.mL20{
    margin-left: 20px !important;
}

.fullWidth{
    width: 100% !important;
}